@media (max-width: 739px) {

    .modal_show {
        width: 80vw;
        height: 75vh;
    }

    @keyframes zoom {
        0% {
            width: 0;
            height: 0; 
        }
    
        100% {
            width: 80vw;
            height: 75vh;
        }
    }

    .text-wrapper {
        height: 350px;
    }

    .ml14 {
        font-size: 28px;
    }

    .footer {
        margin-top: 35px;
    } 
}